
# MAVEN / SPRING BOOT
HELP.md
target/

!.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/



# SEGURIDAD / SECRETOS

.env
.env.*
!.env.example

*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore

secrets/
secret/

application-local.properties
application-secrets.properties
application-local.yml
application-secrets.yml


# LOGS
*.log
logs/


# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# INTELLIJ IDEA

.idea/
*.iws
*.iml
*.ipr



# NETBEANS
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

build/
!**/src/main/**/build/
!**/src/test/**/build/


# VS CODE / ANTIGRAVITY
.vscode/


# WINDOWS / MACOS
Thumbs.db
Desktop.ini
.DS_Store