# URL del Microservicio Backend de la Pagina Web (CMS & Public API)
VITE_API_URL=http://localhost:8082

# URL del Microservicio Auth Service (Para Login en panel CMS)
VITE_AUTH_API_URL=http://localhost:8081/api/auth

# Supabase opcional directo si se requiere desde cliente
VITE_SUPABASE_URL=https://<TU-PROJECT-ID>.supabase.co
VITE_SUPABASE_ANON_KEY=<TU-ANON-KEY>
